<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120638.06452284392!2d74.67263276780102!3d19.110309156839836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdcb05d46788921%3A0x6677e92c1a5181b6!2sAhmednagar%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1624358927648!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>